<h2 class="text-center mt-5 heading">Bootstrap <span class="web ">Website </span>Templates</h2>
 <div class="container mt-5 para "><p>  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus reiciendis sed, possimus sit commodi eius molestiae odio doloribus. Laborum delectus recusandae nobis repellat provident officiis doloremque ex commodi id reiciendis!</p>
<p class="para ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum assumenda eaque qui placeat accusamus? Dolorem!</p>
<p class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, adipisci perspiciatis obcaecati tempora incidunt eius aliquid nulla facere delectus magnam officia porro cupiditate odio earum!</p>
 </div>

 <div class="grid ">
    <img src=".././../assets/././photo-1531297484001-80022131f5a1.avif" alt="">
    <div>
        <h5 class="heading2">
            Lorem ipsum dolor sit amet.
        </h5>
        <div>
        <p class="para2" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit iusto deserunt hic accusamus sapiente, id voluptates tenetur aut delectus, officia corrupti fuga veritatis possimus porro incidunt sequi ducimus adipisci quo. Impedit, earum. Ut, fugit totam.        </p>
    </div>
    </div>
 </div>

 <div class="grid ">
    <div>
        <h5 class="heading2">
            Lorem ipsum dolor sit amet.
        </h5>
        <div>
        <p class="para2" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit iusto deserunt hic accusamus sapiente, id voluptates tenetur aut delectus, officia corrupti fuga veritatis possimus porro incidunt sequi ducimus adipisci quo. Impedit, earum. Ut, fugit totam.        </p>
    </div>
    </div>
    <img src=".././../assets/./pexels-photo-302743.jpeg" alt="">

 </div>
